{{--
label : field label
name : field name
other props : other textarea attributes such as rows, cols
placeholder
--}}
<div class="field">
  <label for="{{ name }}">{{ label }}</label>
  <textarea id="{{ name }}" {{ $props.exept(['label','value']).toAttrs() }}>
    @if(value)
      {{ value }}
    @end
  </textarea>
</div>
